<body>
    <h1 class="text-center">TP : Conditional /List Rendering</h1>
    <div id="monApp">
        <div class="m-3">
        <h2>La liste des courses 🛍</h2>
        <!-- Quand on click sur  "Ajouter" on ajoute au tableau listeDesCourses ce que l'utilisateur tape dans l'input  -->
        <input v-model="nomProduit" type="text" class="form-control" />
        <button @click="ajouterProduit" class="btn btn-success mt-3">
            Ajouter à votre Liste de Courses
        </button>
        <hr />
        <h2 v-if="listeDesCourses.length === 0">
            Aucune Courses à Faire (on économise ? )
        </h2>
        <!-- 2) Ici on affiche la liste de listeDesCourses -->
        <ul v-if="masquerListe">
            <li
            v-for="(unProduit,unIndex) in listeDesCourses"
            v-bind:key="unProduit"
            v-on:click="supprimerProduit(unIndex)"
            >
            {{unIndex}} - {{unProduit}}
            </li>
        </ul>
        <!-- 3) Quand on click sur le bouton ci dessous on affiche ou on maqsque la liste -->
        <!-- BONUS: Le nom du bouton change 'Masquer' ou 'voir' listes -->
        <button @click="affichageListe" class="btn btn-info mt-3">
            {{messageButton}}
        </button>
        </div>
    </div>
    <!-- script pour contacter VUE -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"
    ></script>
    </body>