<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Components</title>
</head>

<body id="app">
    <div class="container" v-for="(unAmi, index) in lesAmis" :key="unAmi.id">
        <h1>Liste des utilisateur</h1>
        <div class="card01">{{unAmi.email}}</div>
        <div class="card02">
            <button v-click="toggleDetail()">Voir information</button>
            <ul v-if="detailVisibles">
                <li>{{unAmi.email}}</li>
                <li>{{unAmi.phone}}</li>
            </ul>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="script014.js"></script>
</body>
</html>