.container{
    text-align: center;
    margin-top: 10%;
}

.card{
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
}

.card2{
    border: 1px solid red;
    margin: 10px;
    border-radius: 10px;
}

