<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles013.css">
    <title>Conditional</title>
</head>
<body id="app">
    <div class="container">
        <h1>La liste des courses</h1>
        <input v-model="nomFilm" type="text" name="model" id="">
        <br>
        <input v-on:click="add()" type="button" value="Ajouter dand votre liste de courses">
        <hr>
        <ul v-if="mesFilms.length !== 0">
            <li v-for="(tmp, index) in mesFilms">{{index}} - {{tmp}} 
                <input v-on:click="remove(index)" type="button" value="supprimer"> </li>      
            </li>
        </ul>
        <p v-else>Il n'y a pas encore de filme dans la liste.</p>
        <input v-show:click="hide()"  type="button" value="Masquer Liste">
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="script013.js"></script>
</body>
</html>